@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 3% 6%;
    --foreground: 0 0% 85%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 240 3% 6%;
    --popover-foreground: 19 100% 97%;

    --primary: 345 68% 44%;
    --primary-foreground: 210 40% 98%;

    --secondary: 18 89% 67%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 11%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 0 0% 20%;
    --accent-foreground: 19 100% 97%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 11%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.btn-link {
  @apply py-2 px-4 rounded-md inline-flex items-center uppercase tracking-wider transition-all duration-300 ease-in-out;
}

.mesh-gradient::before {
  content: '';
  width: 240px;
  height: 240px;
  background: linear-gradient(163deg, #bc244a 0%, #f68f62 100%);
  border-radius: 50%;
  position: absolute;
  top: 180px;
  right: 80px;
  z-index: -2;
  filter: blur(70px);
}

.mesh-gradient::after {
  content: '';
  width: 100px;
  height: 100px;
  background: linear-gradient(163deg, #bc244a 0%, #f68f62 100%);
  border-radius: 50%;
  position: absolute;
  top: 180px;
  right: 80px;
  z-index: -1;
  filter: blur(50px);
}

.grad {
  background: linear-gradient(
    166deg,
    rgba(188, 36, 74, 1) 0%,
    rgba(246, 143, 98, 1) 100%
  );
}

.main-action {
  @apply rounded-sm py-3 text-center uppercase tracking-wide grad leading-none hover:tracking-widest transition-all duration-300 ease-in-out text-white;
}

.submenu::before {
  content: '';
  width: 1px;
  height: 163px;
  left: 30px;
  background: hsl(240, 4%, 62%);
  position: absolute;
}

.submenu li {
  position: relative;
}

.submenu li a::before {
  content: '';
  width: 16px;
  height: 1px;
  background: hsl(240, 4%, 62%);
  position: absolute;
  left: -21px;
  top: 18px;
}

.wrapper {
  @apply w-[min(100%-30px,_960px)] mx-auto pt-10 pb-5;
}

.page-layout {
  @apply wrapper max-h-screen min-h-screen grid grid-rows-[80px_1fr];
}

.main-content {
  @apply main-content-scroll bg-gray-700 rounded-md overflow-y-auto flex flex-wrap  gap-5 justify-center md:justify-start overflow-x-hidden py-8 px-4 md:px-8 content-start;
}

.main-content-scroll {
  scrollbar-width: thin;
  scrollbar-color: hsl(0, 0%, 11%) hsl(0, 0%, 11%);
}

.sidebar-links {
  @apply flex gap-2 py-2 capitalize hover:text-white;
}

@media (min-width: 700px) {
  .mesh-gradient::before {
    width: 500px;
    height: 500px;
    top: 120px;
    opacity: 0.7;
  }

  .mesh-gradient::after {
    width: 300px;
    height: 300px;
    top: 120px;
    opacity: 0.9;
  }
}
